*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: black;
}

/****** NAVIGATION BAR ******/
nav{
    height: 100px;
    width: 100%;
    display: flex;
    padding: 0 5vw;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #dadada;
    color: #fff;
}

/****** LOGO ******/
nav .img1{
    height: 35vh;
    width: 15vw;
}
nav .img2{
    height: 35vh;
    width: 15vw;
    display: none;
}
.nav1{
    display: flex;
    gap: 4vw;
    align-items: center;
}
.nav1 h5{
    font-size: 1vw;
    font-weight: 900;
}
.nav1 button{
    width: 7vw;
    font-size: 1vw;
    border-radius: 5px;
    padding: 0.5vw;
    background-color: #1DDDBD;
    font-weight: 600;
    border: none;
}
.nav1 i{
    font-size: 4vw;
    font-weight: 800;
    display: none;
}
#dropdown, .mydropdown{
    display: none;
}

/****** CONTENT ******/
.content{
    width: 100%;
    height: calc(100% - 100px);
    color: #fff;
}

/****** EDUCATION CONTAINER ******/
.edu{
    font-size: 2.5vw;
    padding: 2vh 0;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 1vw;
    margin-left: 5.5vw;
    margin-bottom: 1.5vh;
    color: #1DDDBD;
}

/****** INFORMATION ******/
.edu-desc{
    font-weight: 700;
    display: flex;
    padding-right: 2vw;
    margin-left: 9vw;
    font-size: 1.2vw;
    justify-content: space-between;
    margin-bottom: 5vh;
    line-height: 3.2vh;
}

/****** SKILL CONTAINER ******/
.skl{
    font-size: 2.5vw;
    padding: 1vh 0;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 1vw;
    margin-left: 5.2vw;
    margin-bottom: 1.5vh;
    color: #1DDDBD;
}

/****** INFORMATION ******/
.skl-desc{
    line-height: 7vh;
    padding: 0 8.7vw;
}
.skill .progress-1{
    display: flex;
    width: 100%;
    height: 1.4vh;
    background-color:#fff;
    border-radius: 3px;
}
.skill .progress-1 span{
    animation: progress-1 3s 1 cubic-bezier(0.075, 0.82, 0.165, 1);
    padding: 0.3vh 1.5vw;
    background-color:#ff005d;
    width: 75%;
    border-radius: 3px;
}

/****** ANIMATION OF PROGRESS-1 ******/
@keyframes progress-1 {
    0%{
        width: 0;
    }
    100%{
        width: 75%;
    }
}
.skill .progress-2{
    display: flex;
    width: 100%;
    height: 1.3vh;
    background-color: #fff;
    border-radius: 3px;
}
.skill .progress-2 span{
    animation: progress-2 3s 1 cubic-bezier(0.075, 0.82, 0.165, 1);
    padding: 0.3vh 1.5vw;
    background-color:#ff005d;
    width: 60%;
    border-radius: 3px;
}

/****** ANIMATION OF PROGRESS-2 ******/
@keyframes progress-2 {
    0%{
        width: 0;
    }
    100%{
        width: 60%;
    }
}
.skill .progress-3{
    display: flex;
    width: 100%;
    height: 1.3vh;
    background-color: #fff;
    border-radius: 3px;
}
.skill .progress-3 span{
    animation: progress-3 3s 1 cubic-bezier(0.075, 0.82, 0.165, 1);
    padding: 0.3vh 1.5vw;
    background-color:#ff005d;
    width: 85%;
    border-radius: 3px;
}

/****** ANIMATION OF PROGRESS-3 ******/
@keyframes progress-3 {
    0%{
        width: 0;
    }
    100%{
        width: 85%;
    }
}
.skill .progress-4{
    display: flex;
    width: 100%;
    height: 1.3vh;
    background-color: #fff;
    border-radius: 3px;
}
.skill .progress-4 span{
    animation: progress-4 3s 1 cubic-bezier(0.075, 0.82, 0.165, 1);
    padding: 0.3vh 1.5vw;
    background-color:#ff005d;
    width: 85%;
    border-radius: 3px;
}

/****** ANIMATION OF PROGRESS-4 ******/
@keyframes progress-4 {
    0%{
        width: 0;
    }
    100%{
        width: 85%;
    }
}
.skill .progress-5{
    display: flex;
    width: 100%;
    height: 1.3vh;
    background-color: #fff;
    border-radius: 3px;
}
.skill .progress-5 span{
    animation: progress-5 3s 1 cubic-bezier(0.075, 0.82, 0.165, 1);
    padding: 0.3vh 1.5vw;
    background-color:#ff005d;
    width: 40%;
    border-radius: 3px;   
}

/****** ANIMATION OF PROGRESS-5 ******/
@keyframes progress-5 {
    0%{
        width: 0;
    }
    100%{
        width: 40%;
    }
}

/****** FOR RESOLUTON NOT MORE THAN 600px ******/
@media (max-width:600px) 
{
    /****** NAVIGATION BAR ******/
    nav{
        background-color: black;
        color: #fff;
    }

    /****** LOGO ******/
    nav .img1{
        display: none;
    }
    nav .img2{
        height: 30vh;
        width: 30vw;
        display: block;
    }
    .nav1 h5{
        display: none;
    }
    .nav1 button{
        display: none;
    }   
    .nav1 i{
        display: block;
        color: orangered;
    }
    .nav1 .mydropdown{
        display: block;
        background-color: black;
    }
    .nav1 i:hover{
        color: orangered;
    }

    /****** EDUCATION CONTAINER ******/
    .edu{
        justify-content: center;
        align-items: center;
        font-size: 6vw;
        color: orangered;
    }

    /****** EDUCATION DESCRIPTION ******/
    .edu-desc{
        font-weight: 700;
        display: flex;
        flex-wrap: wrap;
        padding-right: 1.5vw;
        margin-left: 9vw;
        font-size: 3vw;
        gap: 2vw;
        justify-content: space-between;
        margin-bottom: 1vh;
        line-height: 2.5vh;
    }

    /****** SKILL CONTAINER ******/
    .skl{
        justify-content: center;
        align-items: center;
        font-size: 6vw;
        margin-bottom: 0.5vh;
        color: orangered;
    }
    .skl-desc{
        font-size: 2.5vw;
        line-height: 5vh;
    }
}